/* CSS declarations go here */

body{
  /*background-color: #e9f0f7;*/
  background-image: "../images/background.jpg";
}

a{
  /*font-family: "Times new roman", Times, serif;*/
  font-family: Georgia, serif;
}

ul {
  padding: 10;
  color: #9388d0;
  margin: 0;
}

h1{
  color: #174f6b;
  text-align: center;
  padding: 20px 18px 10px 18px;
  /*padding: 10px 10px 10px 10px;*/
  font-family: 'Lobster', cursive;
  font-weight: bold;
}

h2{
  color: #70608f;
  text-align: center;
  font-family: Georgia, serif;
  /*font-family: 'Lobster', cursive;*/
}

h3{
  color: #2a82cb;
  text-align: left;
  font-family: Georgia, serif;
}

h5{
  font-family: 'Lobster', cursive;
}

p{
  color: black;
  /*font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";*/
  font-family: Georgia, serif;
}

ul li {
    width: 140px;
    color: #FFFFFF;
    font-weight:bold; 
    text-decoration: none;   
    text-transform:uppercase; 
    text-align:center;
    font-size:12px;   
    line-height:30px;   
}

input {
 size:70px;
 font-size:12px;
}

button.love{
  background-color: #d5e5f5;
}

button.not{
  background-color: #f0e1f1;
}

button.delete{
  background-color: #e5e7f7;
}
nav{
  background-color: #e0d4de;
}

.head{
  background-color: #f5f0f7;
  text-align: left;
  padding-left: 15px;
}

.head p{
  padding-left: 15px;
}

.made{
  background-color: #f5f0f7;
  text-align: left;
}

.made h5{
  text-align: center;
  color: #174f6b;
  font-size: 25px;
}

.made a{
  font-family: Georgia, serif;
  font-style: italic;
}

.postslist{
  text-align: center;
}

.PostAdd input{
  font-size: 13px;
}

.PostFilter input{
  font-size: 13px;
}




